@model MovieStoreMvc.Models.DTO.ChaptersListVm
@{
}

<div class="tbl-container">
    <h2>Genres</h2>

    <table>
        <tr>
            <th>Tên chương</th>
            <th>Nội dung</th>
        </tr>
        @foreach(var item in Model.Chapters) {
        <tr>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td>
                <a href="/ChuongMuc/Edit?id=@item.ID" class="btn btn-default"><i class="fa fa-edit"></i></a>
                    <a onclick="return window.confirm('Are you sure?')" href="/ChuongMuc/Delete?id=@item.ID" class="btn btn-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        }
     
    </table>
    <div class="input-container">
        <a href="/ChuongMuc/Add" class="btn btn-sec">Add</a>
    </div>
</div>
