@model MovieStoreMvc.Models.Domain.Sections
@{}
<form class="w-40" asp-action="Edit" method="post" enctype="multipart/form-data">
    <h2 class="pb-10">Update điều luật</h2>
        <input type="hidden" class="input" asp-for="ID">

    <div class="input-container">
        <label asp-for="Title" class="w-40">Tên điều luật</label>
        <input type="text" class="input" asp-for="Title">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Title"> </span>
    </div>
    @* <div class="message-box pd-x-28 error"> *@
    @*     <span asp-validation-for="Articles.Title"> </span> *@
    @* </div> *@
    
    @* <div class="message-box pd-x-28 error"> *@
    @*     <span asp-validation-for="Articles"> </span> *@
    @* </div> *@
    
    <div class="input-container">
        <label asp-for="Min" class="w-40">Tiền phạt tối thiểu</label>
        <input type="text" class="input" asp-for="Min">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Min"> </span>
    </div>
        
    <div class="input-container">
        <label asp-for="Max" class="w-40">Tiền phạt tối đa</label>
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Max"> </span>
    </div>
            
    <div class="input-container">
        <label asp-for="Avg" class="w-40">Tiền phạt trung bình</label>
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Avg"> </span>
    </div>

    <div class="input-container">
        <label asp-for="Content" class="w-40">Nội dung</label>
        <input type="text" class="input" asp-for="Content">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Content"> </span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Save</button>
        <a class="btn btn-sec" href="/DieuLuat/DieuLuatList">All records</a>
    </div>
</form>
