@model MovieStoreMvc.Models.Domain.DieuLuat
@{
}
<div class="movie-detail w-80 m-auto">
    <div class="detail-container">
        <h3>@Model.Name</h3>
        <p>@Model.ChuongMucNames</p>
        <p>@Model.ReleaseYear</p>
        <p>Nội Dung : @Model.Content</p>
    </div>
</div>